<div class="container">


    <h1>Add-quote</h1>

    <div>
        <!-- add form -->
        <form method="POST" action="/add_quote" class="form-group">
            <!-- input for first value -->
            <div>
                <h2>Add-quote</h2>
                <label for="number1">Add Quote:</label>
                <input type="text" id="quote" name="newquote" placeholder="Enter new quote" required=""
                    style="width:60%">
            </div>
            <!-- input for second value -->
            <div>
                <label for="number2">Quote author:</label>
                <input type="text" id="auther" name="newauthor" placeholder="Enter quote author" required=""
                    style="width:60%">
            </div>
            <hr>
            <!-- submit button -->
            <div>
                <button type="submit">submit</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>