{% extends 'home.html' %}

{% block content %}

<div>
    <h1><b>Quote of the day</b></h1>
    <br>
    {% for q in me.favourite_quotes%}
    <blockquote>
        <h3>{{q.quote}} </h3> 
        <h4> - {{q.author}} </h4>       
    </blockquote>
    {% endfor%}
    <br>
</div>

<br>

<a href="{{url_for('add_quote')}}" class="btn btn-primary " target="_blank" type="button" role="button">   Add Quotes </a> 
<a href="{{url_for('del_quote')}}" class="btn btn-primary " target="_blank" type="button" role="button"> Delete Quotes </a>

{% endblock %}